[user]
	email = lidongguinb@gmail.com
	name = lr00rl
[merge]
	conflictStyle = diff3
[magit]
	hideCampaign = true
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
